.dropdown-menu {
  min-width: unset;
  border-radius: 5px;
}
.dropdown-toggle {
  display: inline-flex;
  align-items: center;
  color: var(--bs-body-color);

  &::after {
    content: '';
    display: block;
    margin-left: 0.5em;
    background: escape-svg($caret-icon) no-repeat;
    width: 12px;
    height: 7px;
  }
}
.dropdown-divider.vertical {
  width: 1px;
  height: 1rem;
  margin: 0.75rem 0;
}
.dropdown-category + .dropdown-menu {
  min-width: 160px;
}
.category-banner {
  position: relative;
}
