.dropdown-menu {
  min-width: unset;
  border-radius: 5px;
}
.dropdown-toggle {
  display: inline-flex;
  align-items: center;
  color: var(--bs-body-color);

  &::after {
    content: '';
    display: block;
    margin-left: 0.5em;
    background: escape-svg($caret-icon) no-repeat;
    width: 10px;
    height: 10px;
  }
}
.dropdown-category {
  .dropdown-toggle {
    &::after {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}
.dropdown-divider.vertical {
  width: 1px;
  height: 1rem;
  margin: 0.75rem 0;
}
.navbar-collapse {
  .dropdown-divider.vertical {
    @include media-breakpoint-down(lg) {
      width: 100%;
      height: 1px;
      margin: 0;
    }
  }
  .d-lg-none {
    .float-end {
      margin-top: 3px;
    }
  }
}
.dropdown-category + .dropdown-menu {
  min-width: 160px;
}
.category-banner {
  position: relative;
}
