.navbar-top {
  .navbar-brand {
    img {
      height: 3rem;
      @include media-breakpoint-down(lg) {
        height: 2rem;
      }
    }
  }
  .header-search {
    .input-group {
      .form-control,
      .btn {
        border-radius: 50rem;
        padding: #{$input-padding-y + 0.3125} 1rem;
        box-shadow: none !important;
      }
      .btn {
        font-size: $font-size-sm;
        .icon-search {
          margin-right: #{$font-size-base - $font-size-base * $line-height-base * 0.5};
          stroke: currentColor;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      display: block !important;
      position: absolute;
      margin: 0 !important;
      inset: 50% 0 auto;
      overflow: hidden;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
      transition: top 0.3s, opacity 0.3s;
      &.toggled {
        top: calc(100% + $navbar-padding-y);
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1;
      .nav-item-icon {
        stroke: currentColor;
      }
      span {
        margin-top: 0.5rem;
      }
    }
  }
}
.navbar-main {
  .navbar-nav {
    .dropdown-category {
      font-weight: 500;
      color: $dark-orange;
      .icon-hamburger {
        fill: currentColor;
        margin-right: 0.875rem;
        @include media-breakpoint-down(lg) {
          margin-right: 0;
        }
      }
      @include media-breakpoint-down(lg) {
        + .dropdown-menu {
          position: fixed;
          left: 0;
          top: 0;
          bottom: 0;
          border-radius: 0;
          margin: 0;
          min-width: 200px;
        }
      }
    }
    .nav-item {
      display: flex;
      align-items: center;
      .nav-link {
        white-space: nowrap;
        flex: 1;
        &.hot {
          color: $primary;
        }
        &.hot,
        &.dropdown-category {
          font-size: $font-size-lg;
        }
      }
    }
    .navbar-collapse {
      .nav-item {
        a {
          flex-grow: 1;
        }
      }
    }
    .dropdown-toggle::after {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  .navbar-expand-lg {
    position: relative;
    .navbar-collapse {
      @include media-breakpoint-down(lg) {
        position: absolute;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid $border-color;
        right: 0;
        margin-top: 2px;
        top: 100%;
        z-index: 3;
        @include box-shadow($box-shadow);
        .navbar-nav {
          padding: 0.25rem 1rem;
          .nav-text {
            padding: $nav-link-padding-y 0;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  box-shadow: none !important;
  border: 0;
  .navbar-toggler-icon {
    background: escape-svg($dot) no-repeat;
  }
}
