.navbar-top {
  .navbar-brand {
    img {
      height: 3rem;
    }
  }
  .header-search {
    .input-group {
      .form-control,
      .btn {
        border-radius: 50rem;
        padding: #{$input-padding-y + 0.3125} 1rem;
      }
      .btn {
        font-size: $font-size-sm;
        .icon-search {
          margin-right: #{$font-size-base - $font-size-base * $line-height-base * 0.5};
          stroke: currentColor;
        }
      }
    }
  }
  .navbar-nav {
    .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1;
      .nav-item-icon {
        stroke: currentColor;
      }
      span {
        margin-top: 0.5rem;
      }
    }
  }
}
.navbar-main {
  .navbar-nav {
    .dropdown-category {
      font-weight: 500;
      color: $dark-orange;
      .icon-hamburger {
        fill: currentColor;
        margin-right: 0.875rem;
      }
    }
    .nav-item {
      display: flex;
      align-items: center;
      .nav-link {
        &.hot {
          color: $primary;
        }
        &.hot,
        &.dropdown-category {
          font-size: $font-size-lg;
        }
      }
    }
  }
}
