main {
  background-color: $main-bg;
}
.layout-static {
  background: linear-gradient(180deg, #ffe4c2 0%, rgba(250, 236, 218, 0.583333) 41.67%, rgba(242, 246, 252, 0) 100%) no-repeat top center / auto 300px;
}

.brand {
  border: 1px solid #cfd7e8;
  border-radius: 5px;
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.table-filter {
  .nav-link {
    color: var(--bs-body-color);
  }
}
.datepicker {
  padding-right: 0.5rem !important;
  text-align: right;
  &:focus {
    box-shadow: none;
  }
  &,
  & + .input-group-text {
    border: 0;
    background-color: transparent;
    padding: 0.5rem 0;
    position: relative;
  }
}
.form-control[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.bg-main {
  background-color: $main-bg !important;
}
.bg-lightgray {
  background-color: #edeef0 !important;
}

.btn-order {
  line-height: 1;
  display: flex;
  align-items: center;
}
.text-gray {
  color: $gray-500;
}
.bg-lightyellow {
  background-color: $light-yellow;
}
.bg-lightblue {
  background-color: $light-blue;
}
.bg-lightpink {
  background-color: $light-pink;
}
.bg-cat-1 {
  background-color: $cat-1;
}
.bg-cat-2 {
  background-color: $cat-2;
}
.bg-cat-3 {
  background-color: $cat-3;
}
.bg-cat-4 {
  background-color: $cat-4;
}
.bg-cat-5 {
  background-color: $cat-5;
}
.bg-cat-6 {
  background-color: $cat-6;
}
.bg-cat-7 {
  background-color: $cat-7;
}
.bg-cat-8 {
  background-color: $cat-8;
}
.bg-cat-9 {
  background-color: $cat-9;
}
.bg-cat-10 {
  background-color: $cat-10;
}
.fs-7 {
  font-size: 12px;
}
.fw-500 {
  font-weight: 500;
}
.breadcrumb {
  line-height: 1;
  font-size: 0.75rem;
  color: #6c757d;
  margin: 1rem 0;
  .breadcrumb-item {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #1c1c1c;
    }
  }
}
.modal-dialog.modal-dialog-centered .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  padding: 0.5rem;
  background: $gray-900 escape-svg($btn-close) center / $btn-close-width auto no-repeat;
  opacity: 1;
  z-index: 1;
  &:hover {
    opacity: 0.75;
  }
}
