main {
  background-color: $main-bg;
}

.brand {
  border: 1px solid #cfd7e8;
  border-radius: 5px;
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.table-filter {
  .nav-link {
    color: var(--bs-body-color);
  }
}
.datepicker {
  &:focus {
    box-shadow: none;
  }
  &,
  & + .input-group-text {
    border: 0;
    background-color: transparent;
    padding: 0.5rem 0;
    // top: -2px;
    position: relative;
  }
}
.form-control[type='number']::-webkit-inner-spin-button,
.form-control[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.btn-order {
  line-height: 1;
  display: flex;
  align-items: center;
}
.text-gray {
  color: $gray-500;
}
.bg-lightyellow {
  background-color: $light-yellow;
}

.bg-cat-1 {
  background-color: $cat-1;
}
.bg-cat-2 {
  background-color: $cat-2;
}
.bg-cat-3 {
  background-color: $cat-3;
}
.bg-cat-4 {
  background-color: $cat-4;
}
.bg-cat-5 {
  background-color: $cat-5;
}
.bg-cat-6 {
  background-color: $cat-6;
}
.bg-cat-7 {
  background-color: $cat-7;
}
.bg-cat-8 {
  background-color: $cat-8;
}
.bg-cat-9 {
  background-color: $cat-9;
}
.bg-cat-10 {
  background-color: $cat-10;
}
