.layout-main {
  background-color: #f2f6fc;
}

.brand {
  border: 1px solid #cfd7e8;
  border-radius: 5px;
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.table-filter {
  .nav-link {
    color: var(--bs-body-color);
  }
}
.datepicker {
  &:focus {
    box-shadow: none;
  }
  &,
  & + .input-group-text {
    border: 0;
    background-color: transparent;
    padding: 0.5rem 0;
    // top: -2px;
    position: relative;
  }
}
.product-thumbnail {
  position: relative;
  padding-bottom: 100%;
  border-radius: 5px;
  img {
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-control[type='number']::-webkit-inner-spin-button,
.form-control[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.table-body {
  .item {
    .product-note,
    .product-quantity {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}
.product-note {
  input {
    line-height: 1;
  }
}

.product-quantity {
  input {
    width: 40px;
    line-height: 1;
    text-align: center;
  }
  .btn-minus,
  .btn-plus {
    width: 28px;
    height: 28px;
    background-color: #f2f6fc;
  }
}
.product-code .code,
.product-name .name,
.product-price .price {
  line-height: 2rem;
}
.btn-order {
  line-height: 1;
  display: flex;
  align-items: center;
}
.text-gray {
  color: $gray-500;
}
