.layout-static {
  $nav-pills-link-active-color: $primary;
  $nav-link-color: $headings-color;
  .sidebar {
    .nav-pills {
      .nav-link {
        border-radius: 0;
        color: $nav-link-color;
        text-align: left;
        border-bottom: 1px solid $border-color;
        font-weight: 500;
        &:last-child {
          border: 0;
        }
      }
      .nav-link.active,
      .show > .nav-link {
        color: $nav-pills-link-active-color;
        background-color: transparent;
      }
    }
  }
}
.table {
  font-size: $font-size-base;
}

.accordion {
  counter-reset: index;
}
.accordion-item {
  border: 0;
}
.accordion-button {
  box-shadow: none !important;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  &:not(.collapsed) {
    background-color: transparent;
    &::before {
      background-color: $primary;
      color: white;
    }
  }
  &::before {
    content: counter(index);
    counter-increment: index;
    display: flex;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: $border-color;
    flex-shrink: 0;
    align-self: flex-start;
    @include transition($transition-base);
  }
  &::after {
    align-self: flex-start;
  }
}
.accordion-body {
  background-color: $main-bg;
}
.flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid $border-color;
  background-color: $main-bg;
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: 500;
  color: $headings-color;
  img {
    margin-bottom: 10px;
    width: 100%;
  }
}
.pagination {
  align-items: center;
  justify-content: center;
}
.page-item {
  .page-link {
    border: 0;
    border-radius: 50%;
    box-shadow: none !important;
    color: $headings-color;
    margin: 0 5px !important;
  }
  &.prev,
  &.next {
    .page-link {
      border-radius: 50rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
