$font-family-sans-serif: Roboto, system-ui, -apple-system, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$min-contrast-ratio: 2.5 !default;

//Options
$enable-caret: false !default;

//Colors

$gray-200: #e5e5e5 !default;
$gray-500: #9ba0ac !default;
$gray-600: #555555 !default;
$gray-900: #2b2b2b !default;

$light-yellow: #f4dfa7 !default;
$light-blue: #bcdfff !default;
$light-pink: #ffd2bb !default;

$orange: #f08701 !default;
$dark-orange: #de5900 !default;
$red: #d6353e !default;
$brown: #833b0f !default;

$btn-red: #ea4553 !default;
$btn-orange: #f46803 !default;
$btn-brown: #806565 !default;

$primary: $orange !default;

$input-placeholder-color: $gray-500 !default;

$border-color: #cfd7e8 !default;
$main-bg: #f2f6fc !default;
$body-color: $gray-600 !default;
$headings-color: $gray-900 !default;

//Font size
$font-size-root: 16px !default;
$font-size-base: 0.875rem;
$font-size-sm: 0.75rem !default;
$font-size-lg: 1rem !default;

$h1-font-size: $font-size-root * 2.5 !default;
$h2-font-size: $font-size-root * 2 !default;
$h3-font-size: $font-size-root * 1.75 !default;
$h4-font-size: $font-size-root * 1.5 !default;
$h5-font-size: $font-size-root * 1.25 !default;
$h6-font-size: $font-size-root !default;
$table-cell-padding-y: 15px;
$table-cell-padding-x: 10px;

$cat-1: #ffb593;
$cat-2: #e5e9ec;
$cat-3: #fff59e;
$cat-4: #48ebe3;
$cat-5: #ff8662;
$cat-6: #cdefff;
$cat-7: #ffcbed;
$cat-8: #bcf4ae;
$cat-9: #e5e9ec;
$cat-10: #a1d7ff;

$caret-color: #747474;
$form-select-indicator-color: $caret-color;
$caret-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$caret-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;
